html,body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Architects Daughter", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

nav {
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 0px;
    top: 0px;
}
  
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
  
nav ul li {
    display: inline-block;
    padding-left: 20px;
    margin-left: 20px;
}

nav ul li a {
    font-size: 25px;
    color: rgb(145, 106, 61);
    text-decoration: none;
    font-weight: 600;
}
  
nav ul li:first-child{
    margin-left: 0;
    padding-left: 0
}

ul.transition {
    display: flex;
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -40px;
    margin: 0;
    pointer-events: none;
    list-style-type: none;
}

ul.transition li {
    transform: scaleY(0);
    background: white;
    width: 30%;
}

.content {
    width: 70%;
    height: 70%;
    padding: 50px;
    position: relative;

}

.bgimage1 {
    width: 100%;
    height: 100vh;
    background: url("/img/home.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bgimage2 {
    width: 100%;
    height: 100vh;
    background: url("/img/about.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bgimage3 {
    width: 100%;
    height: 100vh;
    background: url("/img/visimisi.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}